<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<ui:composition template="/WEB-INF/templates/master.xhtml">
		<ui:define name="content">
			<h1>Usuarios</h1>
			<h:form id="frm" enctype="multipart/form-data">
				<p:growl id="growl" showDetail="true" sticky="true" /> 
				<p:inputText id="itxtBuscar" value="#{usuarioBean.cadenaBusqueda}" placeholder="Buscar Usuarios"  />
				<p:commandButton id="cbtnBuscar" value="Buscar" actionListener="#{usuarioBean.buscarUsuarios()}" update="frm:dt,frm:growl"/>

				<p:dataTable id="dt" var="e" value="#{usuarioBean.lista}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15">
					
					<p:column headerText="Usuario">
						<p:outputLabel value="#{e.usuario}" />
					</p:column>

					<p:column headerText="Estado">
						<p:outputLabel value="#{e.estado}" />
					</p:column>

					<p:column headerText="Acciones" exportable="false">
						<p:commandLink actionListener="#{usuarioBean.mostrarData(e)}" oncomplete="PF('wdlg').show()" update="frm:dlg">
							<h:graphicImage library="images" name="edit.jpg" />
						</p:commandLink>
					</p:column>

				</p:dataTable>
				
				<p:dialog id="dlg" header="#{usuarioBean.tipoDialog}" widgetVar="wdlg" modal="true" resizable="false" draggable="true">
					<p:messages id="messages" showDetail="true" closable="true">
						<p:autoUpdate />
				    </p:messages>			
					<h:panelGrid columns="3">
						<p:outputLabel value="Usuario:" />
						<p:inputText value="#{usuarioBean.usuario.usuario}"  />
						<label></label>

						<p:outputLabel value="Estado:" />
						<p:inputText value="#{usuarioBean.usuario.estado}" />
						<label></label>

						<p:outputLabel value="Contraseña actual:" style="display:block;width:130px" />
						<p:password id="pwdActualPwd" value="#{usuarioBean.usuario.contrasena}" />
						<p:commandButton value="VerificarPwd" actionListener="#{usuarioBean.VerificarPwd()}" ajax="true" update="cbtnAceptar"/>
					
					</h:panelGrid>
				    <h:panelGrid columns="3" id="matchGrid">                   
				        <h:outputLabel for="pwd1" value="Nuevo Password:" style="display:block;width:130px" />
				        <p:password id="pwd1" value="#{usuarioBean.nuevacontrasena}" match="pwd2" label="Nueva Contraseña" required="false" />
				 		<label></label>

				        <h:outputLabel for="pwd2" value="Repetir Password:" />
				        <p:password id="pwd2" value="#{usuarioBean.repertircontrasena}" label="Repetir Contraseña" required="false" />
				        <label></label>
				    </h:panelGrid>
				    					
					<label style="width:20px"></label>
					<p:commandButton id="cbtnAceptar" disabled="#{usuarioBean.habilitarBotonAceptar}"  value="Aceptar" actionListener="#{usuarioBean.cambiarPwd()}" ajax="true" update="matchGrid,pwdActualPwd" />
					<p:commandButton value="Cancelar" ajax="false"/>
				</p:dialog>
				
				 <h:commandLink value="Excel">      				
        			<p:dataExporter type="xls" target="dt" fileName="usuarios" pageOnly="true"/>
    			</h:commandLink>
 
			    <h:commandLink value="PDF">			        
			        <p:dataExporter type="pdf" target="dt" fileName="usuarios" pageOnly="true" />
			    </h:commandLink>
			 
			    <h:commandLink value="CSV">			        
			        <p:dataExporter type="csv" target="dt" fileName="usuarios" pageOnly="true" />
			    </h:commandLink>
			 
			    <h:commandLink value="XML">			        
			        <p:dataExporter type="xml" target="dt" fileName="usuarios" pageOnly="true" />
			    </h:commandLink>
			</h:form>
		</ui:define>
	</ui:composition>

</body>
</html>
